__pycache__/
*.pyc
.venv/
.env
*.sqlite3
/Backend/staticfiles/
/Backend/.output/
/Backend/clean_data/
/Backend/.clean_data/
/Backend/.scripts/*
!/Backend/.scripts/products/
!/Backend/.scripts/products/scrape_products.py
!/Backend/.scripts/products/seed_products.py
!/Backend/.scripts/blogs/
!/Backend/.scripts/blogs/scrape_blogs.py
!/Backend/.scripts/blogs/seed_blogs.py
node_modules/
.next/
frontend/.env
*.zip
.idea/
.vscode/
.DS_Store
