beautifulsoup4==4.15.0
boto3==1.43.89
channels==4.3.2
channels_redis==4.3.0
daphne==4.2.3
Django==6.1.1
django-cors-headers==4.9.0
django-filter==26.1
django-ratelimit==4.1.0
django-storages==1.14.6
django-tasks==0.12.0
djangorestframework==3.18.0
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.30.0
gunicorn==26.2.0
pillow==12.3.0
pillow-avif-plugin==1.6.0
psycopg2-binary==2.9.12
python-dotenv==1.2.3
python-json-logger==4.2.0
redis==8.1.0
requests==2.34.2
resend==2.43.0
sentry-sdk==2.68.1
stripe==15.6.1
uvicorn==0.52.4
whitenoise==6.12.0
